*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 10px;
    width: 1600px;
    background-image: url("assets/Header.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 14px;  
  position:relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 100%;
    color:  #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(8, 8, 8);
    border: 1px solid rgb(8, 8, 8);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #fd0909;
    background: #fd0909;
    transition: 1s;
}
.Life{
    min-height: 100vh;
    width: 1600px;
    background-image: linear-gradient(rgba(11, 18, 41, 0.7),rgba(228, 230, 238, 0.7)), url("assets/Laptop.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.icons{
    text-align: center;
    position: absolute;
    top: 70%;
    left: 48%;
    color: rgb(8, 8, 8);
}
.icons:hover{
    color: #fd0909;
    transition: 1s;
}
.Rappresent{
    width: 1600px;
}
.row{
    margin: top 5%;
    display: flex;
    justify-content: space-between;
}
.rapp-col{
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: left;
    margin-top: 5%;
    margin-left: 150px; 
    margin-right: 150px;
}
h3{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}
p{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.rapp-col img{
    width: 100%;
}
.Community{
    width: 1600px;
    padding-top: 50px;
    background-color: #fff3f3 ;
}
.rodykles{
    margin-left: 1150px; 
    display: flex;
}
.rodykle{
    color: #000000;
    text-decoration: none;
}
.rodykle:hover{
    color: #fff;
    background-color: #000000;
    transition: 1s;
}
.comm-col{
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: center;
}
.keli{
    flex-basis: 1%;
    margin: top 1px;
    display: flex;
    margin-right: 30px;
    border-radius: 5px;
    margin-bottom: 1%;
    padding: 2px 12px;
}
.crop {
    width: 100px;
    height: 100%;
    overflow: hidden;
}
.Implement{
   width: 1600px;
}
.impl-col{
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: left;
    margin-left: 150px; 
    margin-right: 150px;
}
.impl-col img{
    width: 100%;
    align-items: center;
}
.signUp{
    min-height: 400px;
    background-image:  url("assets/signU.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box1{
    width: 100%;
    color:  rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.email{
    display: inline-block;
    text-decoration: none;
    color: rgb(8, 8, 8);
    border: 1px solid rgb(8, 8, 8);
    background-color: rgb(245, 209, 7);
    position: relative;
    cursor: pointer;
}
.email:hover{
    display: inline-block;
    text-decoration: none;
    color: rgb(8, 8, 8);
    border: 1px solid rgb(8, 8, 8);
    background-color: rgb(0, 0, 0);
    position: relative;
    cursor: pointer;
    transition: 1s;
}
.download{
    width: 1600px;
    margin-top: 150px;
}
.text-box2{
    width: 100%;
    color:  rgb(0, 0, 0);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.app{
    display: inline-block;
    text-decoration: none;
    color: rgb(8, 8, 8);
    border: 1px solid rgb(8, 8, 8);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.app:hover{
    border: 1px solid #fd0909;
    background: #fd0909;
    transition: 1s;
}
